<h1>Risk Demonstration DashBoard</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%# <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%# <%= link_to 'Measurements', measurement_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%# <%= link_to 'Breakdown Structure', :action => :render_equipment %>
        <%# <%= render("app/components/equipment/equipment_component.html.erb") %>
        <%# <%= render "app/components/equipment/equipment_component.html.erb" %>
        <%= render(EquipmentsComponent.new(equipments: @equipments)) %>
      </li>
      <li class="nav-item dropdown"> 
        <a class="nav-link dropdown-toggle" href="#c" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Components
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%# <%= link_to 'Active', active_component_path, class: 'nav-link' %>
            <%# <%= link_to 'Stand By', stand_by_path, class: 'nav-link' %>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </div>
</nav>