<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
    <a href="/" class="navbar-brand d-flex align-items-center">
        <strong >Risk Demonstration DashBoard</strong>
    </a>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="dropdown-menu">
        <li><%= button_to "Session Management", ogi_pilot_sessions_path, method: 'get', class: "btn" %></li>
        <li><%= button_to "Job Management", sidekiq_web_path, method: 'get', class: "btn" %></li>
        </ul>
    
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span>Events</span>
        </button>
        <ul class="dropdown-menu">
        <li><%= button_to "Baseline Risk Info", baseline_risk_path, method: 'get', class: "btn" %></li>
        <li><%= button_to "Possible Failure Alert", possible_failure_path, method: 'get', class: "btn" %></li>
        <li><%= button_to "M1 Active Failed", baseline_risk_path, method: 'get', class: "btn" %></li>
        <li><%= button_to "M2 StandBy Active", baseline_risk_path, method: 'get', class: "btn" %></li>
        <li><%= button_to "M2 Risk Info Update", baseline_risk_path, method: 'get', class: "btn" %></li>
        <li><%= button_to "New Motor Installed", baseline_risk_path, method: 'get', class: "btn" %></li>
        <li><%= button_to "Updated Operation Risk Info", baseline_risk_path, method: 'get', class: "btn" %></li>
        <li><%= button_to "Updated Risk Info", baseline_risk_path, method: 'get', class: "btn" %></li>
        <li><%= button_to "Updated Last Risk Info", baseline_risk_path, method: 'get', class: "btn" %></li>
        </ul>
    </div>
    </div>
</div>